<html>
<head>
  <title>Simple Flask Ubuntu System Management</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel="stylesheet" href="../static/css/milligram/milligram.css">
  <link rel="stylesheet" href="../static/css/override.css">
  
  <!-- Google Fonts -->
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
</head>

<body>
  <!-- <div class="container" style="text-align:center"> -->
  <div class="container">
    <div id="post">
      <h2>Simple Flask Ubuntu System Management</h2> <br>

      <form action="/update" method="POST">
        <input type="submit" value="Update System" />
      </form>

      <form action="/upgrade" method="POST">
        <input type="submit" value="Upgrade System" />
      </form>

      <form action="/clean" method="POST">
        <input type="submit" value="Clean System" />
      </form>

      <form action="/check_log" method="POST">
        <input type="submit" value="Check Update/ Upgrade Log" />
      </form>

      <form action="/generate" method="POST">
        <input type="submit" value="Generate/ Update Log" />
      </form>

      <form action="/reboot" method="POST">
        <input type="submit" value="Reboot System" />
      </form>

      <form action="/shutdown" method="POST">
        <input type="submit" value="Shutdown System" />
      </form>
    </div>
  </div>
  
</body>
</html>
